<div class="d-flex align-items-center">
  <button class="btn btn-secondary btn-sm me-2" (click)="goBack()">Back</button>
  <h2 class="mt-1">Manage Categories</h2>

</div>

<form [formGroup]="categoryForm" (ngSubmit)="addCategory()" class="d-flex align-items-center my-2">
  <input formControlName="name" placeholder="New category name" class="form-control" />
  <button type="submit" [disabled]="categoryForm.invalid" class="btn btn-success ms-2">Add</button>
</form>

<div class="card">
  <h5 class="card-header">Category Manager</h5>
  <div class="card-body">
    <table class="table overflow">
      <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cat of categories">
        <td>{{ cat.name }}</td>
        <td>
          <button class="btn btn-sm btn-primary me-2" (click)="editCategory(cat)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteCategory(cat._id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
